<article class="market-data col-sm-4">

    <% stock_obj = Stock.find_by(ticker: stock.symbol.upcase) %>
    <section class="market-header row">
      <%= link_to(" ", portfolio_path(stock_obj), method: :delete,
                                                  class: "del-stock glyphicon glyphicon-remove",
                                                  data: { confirm: "Delete #{stock.symbol.upcase} from portfolio?"}) %>
      <div class="col-xs-12 clearfix">
        <h4>
          <%= link_to "#{stock.name}(#{stock.symbol.upcase})", portfolio_path(stock_obj) %>
        </h4>
      </div>
    </section>

    <section>
      <span class="h2 mkt-price"><%= get_market_price(stock) %></span>

      <% if stock.change[0] == '-' %>
        <span class="h3 text-danger">
          <%= stock.change[0..4] %>
          (<%= stock.change_in_percent %>)
        </span>
      <% else %>
        <span class="h3 text-success">
          <%= stock.change[0..4] %>
          (<%= stock.change_in_percent %>)
        </span>
      <% end %>
    </section>

    <div class="row">
      <section class="col-sm-12">
        <div class="table-responsive">
          <table class="table table-condensed">
            <tr>
              <td class="text-muted" title="price range (low - high) in current day">Range</td>
              <td><%= stock.days_range %></td>
              <td class="text-muted">Div/yield</td>
              <td><%= stock.dividend_per_share %>/<%= stock.dividend_yield %></td>
            </tr>
            <tr>
              <td class="text-muted">52 week</td>
              <td><%= stock.weeks_range_52 %></td>
              <td class="text-muted">EPS</td>
              <td><%= stock.earnings_per_share %></td>
            </tr>
            <tr>
              <td class="text-muted">Open</td>
              <td><%= stock.open %></td>
              <td class="text-muted">Shares</td>
              <td><%= number_to_human(stock.float_shares) %></td>
            </tr>
            <tr>
              <td class="text-muted">Vol/Avg.</td>
              <td>
                <%= number_to_human(stock.volume) %> /
                <%= number_to_human(stock.average_daily_volume) %>
              </td>
              <td class="text-muted">EBITDA</td>
              <td><%= stock.ebitda %></td>
            </tr>
            <tr>
              <td class="text-muted">Mkt cap</td>
              <td><%= stock.market_capitalization %></td>
              <td class="text-muted">Short ratio</td>
              <td><%= stock.short_ratio %></td>
            </tr>
            <tr>
              <td class="text-muted">P/E</td>
              <td><%= stock.pe_ratio %></td>
            </tr>
          </table>
        </div>
      </section>

</article>