<section>
  <h3><%= stock.name %>(<%= stock.symbol.upcase %>)
    <span> <%= link_to("X", portfolio_path(Stock.find_by(ticker: stock.symbol.upcase)), method: :delete) %> </span>
  </h3>
  <p>
    <%= get_market_price(stock) %>
    <%= stock.change[0..4] %>
    (<%= stock.change_in_percent %>)
  </p>
  <p>
    <%= stock.days_range %>
    <%= stock.weeks_range_52 %>
    <%= stock.open %>
    <%= stock.volume %>
    <%= stock.average_daily_volume %>
    <%= stock.market_capitalization %>
    <%= stock.pe_ratio %>
  </p>
  <p>
    <%= stock.dividend_per_share %>
    <%= stock.dividend_yield %>
    <%= stock.earnings_per_share %>
    <%= stock.float_shares %>
    <%= stock.ebitda %>
    <%= stock.short_ratio %>
  </p>
</section>