<div class="row">
<article class="col-xs-12">

    <% stock_obj = Stock.find_by(ticker: stock.symbol.upcase) %>
    <section>
      <div class="col-xs-12 no-pad">
        <h4 class="market-header">
          <%= link_to "#{stock.name}   (#{stock.symbol.upcase})", portfolio_path(stock_obj) %>
        </h4>
      </div>
    </section>

    <section id="market-value" class="col-sm-5 col-md-4 col-lg-3">
      <span class="h2 mkt-price"><%= get_market_price(stock) %></span>

      <% if stock.change[0] == '-' %>
        <span class="h3 text-danger">
          <%= stock.change[0..4] %>
          (<%= stock.change_in_percent %>)
        </span>
      <% else %>
        <span class="h3 text-success">
          <%= stock.change[0..4] %>
          (<%= stock.change_in_percent %>)
        </span>
      <% end %>
    </section>

    <section id="stock-data" class="col-sm-6 col-md-5 col-lg-4">
      <div class="table-responsive">
        <table class="table table-condensed">
          <tr>
            <td class="text-muted" title="Price range (low - high) in current day">Range</td>
            <td><%= stock.days_range %></td>
            <td class="text-muted" title="Div is total dividend paid in last four quarters. Yield is current dividend return value from the last four quarters.">Div/yield</td>
            <td><%= stock.dividend_per_share %>/<%= stock.dividend_yield %></td>
          </tr>
          <tr>
            <td class="text-muted" title="Price range (low - high) in last 52 weeks">52 week</td>
            <td><%= stock.weeks_range_52 %></td>
            <td class="text-muted" title="Earnings company makes per share of stock">EPS</td>
            <td><%= stock.earnings_per_share %></td>
          </tr>
          <tr>
            <td class="text-muted" title="Opening price of the day">Open</td>
            <td><%= stock.open %></td>
            <td class="text-muted" title="Total outstanding shares of the company">Shares</td>
            <td><%= number_to_human(stock.float_shares) %></td>
          </tr>
          <tr>
            <td class="text-muted" title="Vol - number of shares traded in current session. Average volume is measured over 30 days">Vol/Avg.</td>
            <td>
              <%= number_to_human(stock.volume) %> /
              <%= number_to_human(stock.average_daily_volume) %>
            </td>
            <td class="text-muted" title="Earnings before interest, taxes, depreciation, and amortization">EBITDA</td>
            <td><%= stock.ebitda %></td>
          </tr>
          <tr>
            <td class="text-muted" title="Current value of company measuerd by total shares * stock price">Mkt cap</td>
            <td><%= stock.market_capitalization %></td>
            <td class="text-muted" title="Short interest divided by avg trading volume">Short ratio</td>
            <td><%= stock.short_ratio %></td>
          </tr>
          <tr>
            <td class="text-muted" title="Price per earnings = price / earnings per share">P/E</td>
            <td><%= stock.pe_ratio %></td>
          </tr>
        </table>
      </div>
    </section>

    <%= render '/stocks/stock_chart', stock: stock.symbol, chart_height: "500px", days: 356 %>

    <section id="company-info" class="col-sm-8 col-sm-offset-2 col-xs-12 text-muted">
      <h4>About <%= stock.name %></h4>
      <p>
        <% company_info = company_summary(stock.symbol) %>
        <%= company_info[:summary] %>
        <a href="<%= company_info[:rlink] %>" target="_blank">More information from Reuters.</a>
      </p>
    </section>

    <section id="company-news" class="col-sm-8 col-sm-offset-2 col-xs-12 text-muted">
      <h4>Current Headlines</h4>
      <% current_news = company_news(stock.symbol) %>
      <ul class="list-unstyled">
        <% current_news.each do |article| %>
          <li>
            <div>
              <a href="<%= article[1] %>" target="_blank"><%= article[0] %></a><br>
              <small><%= article[2] %></small>
              <p><%= article[3] %></p>
            </div>
          </li>
        <% end %>
      </ul>
    </section>

</article>
</div>
