<div id="welcome" class="container-fluid">
  <article>
    <div class="col-sm-8 col-sm-offset-2 col-xs-12">
      <h1 class="text-center">Manage stocks in your portfolio and get real time info, simple and easy.</h1>
    </div>

    <div class="col-sm-8 col-sm-offset-2 text-center">
      <%= link_to("Login", new_user_session_path, class: "btn btn-lg log-btn") %>
      <%= link_to("Sign up", new_user_registration_path, class: "btn btn-lg sign-btn") %>
    </div>

    <div id="demo" class="col-sm-8 col-sm-offset-2 text-center">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <%= image_tag "yeeld-index.png", alt: "index page", title: "yeeld index page"%>
          </div>
          <div class="item">
            <%= image_tag "yeeld-show.png", alt: "show page", title: "yeeld show page"%>
          </div>
          <div class="item">
            <%= image_tag "yeeld-mobile.png", alt: "yeeld mobile", title: "yeeld mobile look"%>
          </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </article>

  <div class="spacer"></div>

</div>