<h1>Your Portfolio</h1>
<%= @portfolio %>
<% stock_data = stock_info(@portfolio) %>
<% stock_data.each do |data| %>
  <section>
    <%=  %>
    <%=  %>
    <%=  %>
    <%=  %>
    <%=  %>
    <%=  %>
    <%=  %>
    <%=  %>
    <%=  %>
    <%=  %>
    <%=  %>
  </section>
<% end %>