<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid no-pad">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 col-xs-12">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a id="brand-logo" class="navbar-brand" href="/"> <%= image_tag "logo.png" %> </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

          <ul class="nav navbar-nav navbar-right">
            <li>
              <%= form_for(@stock, remote: true, html: { class: "navbar-form navbar-right", role: "add stock" }) do |f| %>
                <div id="add-stock" class="form-group">
                  <%= f.text_field :ticker, placeholder: "Ticker, Symbol", class: "form-control" %>
                  <%= f.submit "Add stock", class: "btn btn-success form-control" %>
                </div>
              <% end %>
            </li>
            <% if user_signed_in? %>
             <li> <%= link_to("", destroy_user_session_path, method: :delete, title: "Logout",
                                                             id: "logout", class: "navi-btn glyphicon glyphicon-log-out") %> </li>
              <% if @portfolio %>
                <li> <%= link_to("", portfolio_index_path, title: "Refresh Page", id: "refresh",
                                                           class: "navi-btn glyphicon glyphicon-refresh", remote: true) %> </li>
                <% else %>
                <li> <%= link_to("", portfolio_path(params[:id]), title: "Refresh Page", id: "refresh",
                                                                  class: "navi-btn glyphicon glyphicon-refresh") %> </li>
              <% end %>
             <li> <a href="#" title="Remove stock from portfolio", id="delete", class="navi-btn glyphicon glyphicon-trash"></a> </li>
             <li> <a href="#" title="Watchlist - Coming Soon!" id="spy", class="navi-btn glyphicon glyphicon-eye-open"></a> </li>
             <li><a href="#" title="Coming Soon!" id="search" class="navi-btn glyphicon glyphicon-search"></a></li>
            <% else %>
              <li> <%= link_to("Login", new_user_session_path) %> </li>
              <li> <%= link_to("Sign up", new_user_registration_path) %> </li>
            <% end %>
          </ul>

        </div><!-- /.navbar-collapse -->
     </div> <!-- column -->
   </div> <!-- row -->
  </div><!-- /.container-fluid -->
</nav>