<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid no-pad">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 col-xs-12">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a id="brand-logo" href="/"> <%= image_tag "logo.png", class: 'navbar-brand' %> </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

          <ul id="navbar-r" class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle navi-btn" data-toggle="dropdown"
                                                      role="button" aria-haspopup="true" aria-expanded="false">
                                                      <span class="glyphicon glyphicon-cog"></span></a>
              <ul class="dropdown-menu">
                <% if flash[:hide_form] == false %>
                  <li>
                    <%= form_for(@stock, remote: true, html: { class: "navbar-form navbar-right no-marg", role: "add stock" }) do |f| %>
                      <div id="add-stock" class="form-group">
                        <%= f.text_field :ticker, placeholder: "Ticker, Symbol", class: "form-control", autocomplete: "off" %>
                        <%= f.submit "Add stock", class: "btn btn-success form-control" %>
                      </div>
                    <% end %>
                  </li>
                  <li role="separator" class="divider"></li>
                <% end %>
                <% if @portfolio %>
                  <li> <%= link_to(portfolio_index_path, id: "refresh",
                                                    class: "navi-btn", remote: true) do %>
                                                    <span class="glyphicon glyphicon-refresh"></span>
                                                    <span>Refresh</span>
                                                    <% end %></li>
                <% else %>
                  <li> <%= link_to(portfolio_path(params[:id]), id: "refresh",
                                                    class: "navi-btn") do %>
                                                    <span class="glyphicon glyphicon-refresh"></span>
                                                    <span>Refresh</span>
                                                    <% end %></li>
                <% end %>
               <li> <a href="#" title="Remove stock from portfolio", id="delete", class="navi-btn">
                                                    <span class="glyphicon glyphicon-trash"></span>
                                                    <span>Delete</span></a> </li>

               <li role="separator" class="divider"></li>
               <li> <%= link_to(destroy_user_session_path, method: :delete,
                                                    id: "logout", class: "navi-btn") do %>
                                                    <span class="glyphicon glyphicon-menu-right"></span>
                                                    <span>Logout</span>
                                                    <% end %></li>
             </ul>
            </li>
             <li class="dropdown">
              <a href="#" class="dropdown-toggle navi-btn" data-toggle="dropdown"
                                                      role="button" aria-haspopup="true" aria-expanded="false">
                                                      <span class="glyphicon glyphicon-eye-open"></span></a>
              <ul class="dropdown-menu">
                <li>
                  <%= form_for(@watch, remote: true, html: { class: "navbar-form navbar-right no-marg", role: "add stock to watchlist" }) do |f| %>
                    <div id="spy-list" class="form-group">
                      <%= f.text_field :ticker, placeholder: "Ticker, Symbol", class: "form-control", autocomplete: "off" %>
                      <%= f.submit "Spy", class: "btn btn-success form-control" %>
                    </div>
                  <% end %>
                </li>
                <li role="separator" class="divider"></li>
                <li class="text-center"><h3><strong>Watchlist</strong></h3></li>
                <li>
                  <div class="table-responsive">
                    <table id="watchlist" class="table-borderless table-condensed table-hover text-center">
                      <tr class="h4">
                        <th><strong>Ticker</strong></th>
                        <th><strong>Price</strong></th>
                        <th><strong>Change</strong></th>
                        <th><%= link_to("", watchlists_path, id: "refresh-watch",
                                                    class: "navi-btn glyphicon glyphicon-refresh", remote: true) %>
                      </tr>
                      <% watchlist_data = stock_watchlist(@watchlist) %>
                      <% watchlist_data.each do |data| %>
                        <%= render '/watchlists/stock_watchlist', stock: data %>
                      <% end %>
                    </table>
                  </div>
                </li>
              </ul>
             </li>

             <li> <a href="#" title="Coming Soon!" id="search" class="navi-btn">
                                                  <span class="glyphicon glyphicon-search"></span></a></li>
            <% else %>
              <li> <%= link_to("Login", new_user_session_path, class: "reset-fnt") %> </li>
              <li> <%= link_to("Sign up", new_user_registration_path, class: "reset-fnt") %> </li>
            <% end %>
          </ul>

        </div><!-- /.navbar-collapse -->
     </div> <!-- column -->
   </div> <!-- row -->
  </div><!-- /.container-fluid -->
</nav>